html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;
}

/*.container {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items:center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  top: 0px;
  bottom: 0px;
}

.content {
  height: 200px;
  display: block;
  text-align: center;
  font-family: "Times New Roman";
  font-size: 100px;
}*/
