html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
}

#map {
  height: 100%;
  width: 100%;
}

#pano {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 200;
  display: none;
  cursor: grabbing;
}

#reset {
  width: 100%;
  z-index: 300;
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  opacity: .75;
  color: white;
  text-align: right;
  padding-right: 70px;
  display: none;
}

#reset:hover {
  color: white;
  cursor: pointer;
  opacity: 1;
}

#dimmer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 50;
  opacity: .5;
  background-color: #222
}

#dropzone {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  opacity: .75;
  cursor: pointer;
  font-size: 300px;
  font-weight: bold;
  color: white
}

.container {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items:center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  top: 0px;
  bottom: 0px;
}

.content {
  display: block;
  text-align: center;
}



/* Bootstrap Media Queries */
/* xs */
@media(max-width:767px){
  #dropzone {
    font-size: 100px;
  }
}
/* s */
@media(min-width:768px){
  #dropzone {
    font-size: 150px;
  }
}
/* m */
@media(min-width:992px){
  #dropzone {
    font-size: 200px;
  }
}
/* lg */
@media(min-width:1200px){
  #dropzone {
    font-size: 300px;
  }
}
